.bread-crumbs {
  max-width: 1220px;
  margin: -24px auto 48px;
  font-size: 18px;

  &__item{
    position: relative;
    margin-right: 3px;
    padding-right: 21px;
    color: #323339;

    &:before, &:after{
      position: absolute;
      top: calc( 50% - 3px);
      right: 1px;
      width: 4px;
      height: 4px;
      border-top: 2px solid #3e3f45;
      border-right: 2px solid #3e3f45;
      -webkit-transform: rotate(45deg);
      transform: rotate(45deg);
      content: '';
    }

    &:after{
      right: 8px;
    }

    &:last-child{
      color: #09a4e2;
      cursor: default;

      &:hover{
        text-decoration: none;
      }

      &:before, &:after{
        display: none;
      }

    }

    &:hover{
      text-decoration: underline;
    }

  }

}