.pagination {
  display: flex;
  justify-content: center;
  align-items: stretch;
  margin-bottom: 38px;

  &__item{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30px;
    height: 30px;
    margin: 0 10px;
    border-radius: 30px;
    color: #8a8b93;
    font-size: 18px;
    line-height: 1px;
    text-align: center;
    overflow: hidden;
    -webkit-transition: background-color .3s ease, color .3s ease, border-color .3s ease;
    transition: background-color .3s ease, color .3s ease, border-color .3s ease;

    &.active{
      background-color: #09a4e2;
      color: #fff;
    }

    &:hover{
      background-color: #09a4e2;
      color: #fff;
    }

  }

  &__prev{
    border: 1px solid #95969e;

    &:before {
      position: absolute;
      top: 9px;
      left: 10px;
      border: solid transparent;
      content: " ";
      height: 0;
      width: 0;
      pointer-events: none;
      border-color: rgba(32, 31, 32, 0);
      border-right-color: #8a8b93;
      border-width: 5px 7px 5px 0;
      -webkit-transition: border-right-color .3s ease;
      transition: border-right-color .3s ease;
    }

    &:hover{
      border-color: #09a4e2;

      &:before{
        border-right-color: #fff;
      }

    }

  }

  &__first{
    border: 1px solid #95969e;

    &:before, &:after {
      position: absolute;
      top: 9px;
      left: 5px;
      border: solid transparent;
      content: " ";
      height: 0;
      width: 0;
      pointer-events: none;
      border-color: rgba(32, 31, 32, 0);
      border-right-color: #8a8b93;
      border-width: 5px 7px 5px 0;
      -webkit-transition: border-right-color .3s ease;
      transition: border-right-color .3s ease;
    }

    &:after{
      left: 14px;
    }

    &:hover{
      border-color: #09a4e2;

      &:before, &:after{
        border-right-color: #fff;
      }

    }

  }

  &__next{
    border: 1px solid #95969e;

    &:before {
      position: absolute;
      top: 9px;
      left: 12px;
      border: solid transparent;
      content: " ";
      height: 0;
      width: 0;
      pointer-events: none;
      border-color: rgba(32, 31, 32, 0);
      border-left-color: #8a8b93;
      border-width: 5px 0 5px 7px;
      -webkit-transition: border-left-color .3s ease;
      transition: border-left-color .3s ease;
    }

    &:hover{
      border-color: #09a4e2;

      &:before{
        border-left-color: #fff;
      }

    }

  }

  &__last{
    border: 1px solid #95969e;

    &:before, &:after {
      position: absolute;
      top: 9px;
      left: 7px;
      border: solid transparent;
      content: " ";
      height: 0;
      width: 0;
      pointer-events: none;
      border-color: rgba(32, 31, 32, 0);
      border-left-color: #8a8b93;
      border-width: 5px 0 5px 7px;
      -webkit-transition: border-left-color .3s ease;
      transition: border-left-color .3s ease;
    }

    &:after{
      left: 16px;
    }

    &:hover{
      border-color: #09a4e2;

      &:before, &:after{
        border-left-color: #fff;
      }

    }

  }

}